# BEGIN 301Redirect
<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www.fxthunder.com [NC]
RewriteRule ^(.*)$ http://fxthunder.com/$1 [L,R=301]
</IfModule>

<IfModule dir_module>
    DirectoryIndex index.php index.html default-container-index.html
</IfModule>

# END 301Redirect
