#xThunderDownload {
    list-style-image: url("download.gif");
}
#xThunderDownloadAll {
    list-style-image: url("downloadall.gif");
}
#xThunderToolbarBtn  {
    list-style-image: url("icon24.png");
    -moz-box-orient: vertical;
}
toolbar[iconsize="small"] #xThunderToolbarBtn {
    list-style-image: url("icon16.png");
}
.caption-text{
	font-weight:bold !important;
}
