---
layout: default
---

<h1>{{ page.title }}</h1>

<div class="post">
{{ content }}
<br/>
文章地址： <a href="{{site.url}}{{ page.url }}">{{page.title}}</a>

</div>

<div class="meta">
    <div class="tags">
       标签：
       {% for tag in page.tags %}
           <a href="/blog/tag.html#{{tag}}" class="tag">{{tag}} <span class="tagcount">{{site.tags[tag] | size}}</span></a>
       {% endfor %}
    </div>
    <div class="datetime">
        <span>{{ page.date | date:"%Y-%m-%d"}}</span>
    </div>
</div>
